.badminton_title {
	width: 100%;
	display: block;
}

.badminton_details {
	width: 80%;
	display: inline-block;
}

.badminton_score {
	width: 20%;
	display: inline-block;
	float: right;
	text-align: center;
	vertical-align: middle;
	font-size: 26px;
}
